<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>卒業テスト</title>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="icon" th:href="@{/img/ファビコン/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/reset/ress.min.css}" />

    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
</head>

<body>

    <header th:replace="~{commons/layout :: header}"></header>

    <main>
        <!-- <div class="head">
            <p>Echo</p>
        </div> -->
        <div class="moto">
            <div class="center">


                <div class="head">
                    <p>Echo</p>
                </div>

                <div class="toukou">
                    <button type="button" class="toukou">投稿</button>
                </div>

                <!--
                    画像URLは後で実装 12/9
                -->

                <div th:unless="${#lists.isEmpty(timeline)}">
                    <div th:each="obj:${timeline}" class="TimeLine">
                        <div class="flec ">
                            <div class="Frame2">
                                <img src="img\logo2.png" class="rogo2">
                                <p th:text="${obj.follower_name}"></p>
                            </div>
                            <div class="Frame3 balloon1-left">
                                <button type="button" class="clickshow" onclick="buttonClick()">
                                    <div class="Content">
                                        <div class="douga">
                                            <div class="content1">
                                                <!--<iframe class="b"width="560" height="315" 
                                                    th:src="@{https://www.youtube.com/embed/{url} (url=${obj.url})}"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen>
                                                </iframe>
                                                 -->
                                                 <img th:src="${obj.thumbnail}" alt="">
                                            </div>
                                            <div class="con23">
                                                <div class="content2">
                                                    <p class="titl" th:text="${movie_name}"></p>
                                                </div>
                                                <div class="content3">
                                                    <p class="iine">いいね:<span th:text="${obj.like}"></span></p>
                                                    <p class="iine">共有:<span th:text="${obj.share}"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="coment">
                                            <div class="user">
                                                <p th:text="${obj.response_name}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>






                <!-- タイムライン終わり -->
            </div>

            <!-- 通知エリア（右） -->
            <div class="side" th:replace="~{commons/layout :: side}"></div>

        </div>
    </main>
    <!--  
<footer>
    <div class="light1">
        <p>おすすめ</p>
    </div>
    <div class="light2">
        <p>通知</p>
    </div>
</footer>
-->
    <script th:src="@{/js/buttonClick.js}"></script>
    <script th:src="@{/js/hover1.js}"></script>
</body>

</html>